*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
}
.chu-chay{
    position: absolute;
    color: #000;
    top: 100px;
    right: -200px;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #eeaeca, #94bbe9);
    background-size: 50% 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/03/07/background-chuc-mung-ngay-8-thang-3-dep_011145628.jpg);
    
}
.content{
    position: absolute;
    top: 92px;
    color: rgb(155, 21, 39);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.heart-con{
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: red;
    top: 99px;
    right: 647px;
    
}
.heart-con::before{
    position: absolute;
    width: 28px;
    height: 28px;
    content: '';
    background-color: red;
    border-radius: 50%;
    bottom: 13px;
}
.heart-con::after{
    position: absolute;
    width: 28px;
    height: 28px;
    content: '';
    background-color: red;
    border-radius: 50%;
    right: 13px;
}
.heart-con{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.image{
    position: absolute;
    border: 1px solid #000;
    width: 250px;
    height: 259px;
    left: 30px;
    top: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 7px #000;
    object-fit: cover;
    animation: dichuyen 5s  ease-in-out;
}
@keyframes dichuyen{
    0%{
        transform: translatey(650px);
    }
    100%{
        transform: translatey(0px);
    }
}
.heart{
    position: relative;
    height: 100px;
    width: 0;
    top: 100px;
    transform-style: preserve-3d;
}
.layers{
    height: inherit;
    width: inherit;
    margin: 0 auto;
    top: calc(var(--i) * -34px);
    transform-style: preserve-3d;
}
.layers::before, .layers::after{
    content: '';
    --color: #5457b1;
    height: calc(var(--i) * 80px);
    width: calc(var(--i) * 80px);
    top: 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: inset 0 0 7px #ffffff,
                inset 0 0 42px var(--color),
                inset 0 0 82px var(--color),
                0 0 7px #ffffff,
                0 0 82px var(--color);
    animation: heartFill ease 1.5s infinite;
    animation-delay: calc(var(--i) * 0.25s);
}
@keyframes heartFill {
    0%, 100%{--color: #f24983;}
    10%, 90%{--color: #c367a2;}
    20%, 80%{--color: #9585c1;}
    30%, 70%{--color: #66a3e0;}
    40%, 60%{--color: #37c1ff;}

}

.layers, .layers::before, .layers::after{
    position: absolute;
}
.layers::before{
    left: calc(var(--i) * -25px);
    transform: rotateY(-41deg) skewX(-25deg) translateZ(calc(var(--i) * 10px));
}
.layers::after{
    right: calc(var(--i) * -25px);
    transform: rotateY(41deg) skewX(25deg) translateZ(calc(var(--i) * 10px));

}
.layer1::before{
    left: calc(var(--i) * -26px);
}
.layer1::after{
    right: calc(var(--i) * -26px);
}
.layer2::before{
    left: calc(var(--i) * -25.5px);
}
.layer2::after{
    right: calc(var(--i) * -25.5px);
}